{% if paginate.next %}
  <div id="more" style="width:100%" data-page="{{ paginate.pages }}" data-currentpage="{{ paginate.current_page }}">
    <a href="{{ paginate.next.url }}" aria-label="{{ 'accessibility.loading' | t }}"></a>
    <div class="load hidden">
      <svg
        width="50"
        height="50"
        style="shape-rendering: auto; animation-play-state: running; animation-delay: 0s; background: none;"
        class="Search_loader lds-rolling"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMidYMid"
      >
<circle cx="50" cy="50" fill="none" stroke="#d9e2ed" stroke-width="10" r="35"
      stroke-dasharray="164.93361431346415 56.97787143782138"
      style="animation-play-state: running; animation-delay: 0s;"
      transform="rotate(115.597 50 50)">
<animateTransform attributeName="transform" type="rotate" calcMode="linear"
                  values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s"
                  repeatCount="indefinite">
</animateTransform>
</circle></svg>
    </div>
  </div>
{% endif %}