<button
  class="yv-scroll-top bottom-{{ settings.scrollToTop_position }} {% if settings.show_scrollToTop_background %}with-background{% endif %}"
  onclick="topFunction()"
  id="myBtn"
  title="Go to top"
>
  {%- if settings.custom_scrollToTop_svg == blank -%}
    {%- if settings.show_scrollToTop_text -%}
      <span class="scroll-top-text">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.13 70.87">
          <path d="M59.82,50.92c.29,.17,.56,.22,.81,.17s.57-.22,.95-.51c.69-.6,1.31-.99,1.86-1.17,.55-.19,1.12-.11,1.72,.24,.6,.34,.96,.83,1.09,1.48,.13,.64,0,1.3-.38,1.97-.4,.71-.93,1.16-1.58,1.36-.65,.2-1.3,.1-1.97-.3l-.02-.03,.79-1.37c.38,.22,.71,.3,1,.24s.53-.24,.71-.55c.16-.27,.19-.53,.09-.78s-.27-.46-.54-.61c-.25-.14-.5-.17-.76-.09-.26,.08-.6,.27-1.03,.57-.64,.57-1.24,.93-1.8,1.09s-1.15,.06-1.75-.28c-.62-.36-.99-.85-1.11-1.48-.11-.63,.03-1.29,.43-1.99,.4-.69,.92-1.17,1.59-1.44s1.39-.17,2.16,.3l.02,.03-.79,1.38c-.46-.26-.84-.36-1.14-.29-.31,.07-.56,.29-.77,.65-.17,.3-.22,.58-.14,.83,.08,.25,.26,.45,.54,.61Z"/><path d="M54.74,57.73h-.03c-.67-.62-1-1.24-1.01-1.9s.3-1.3,.9-1.94c.62-.66,1.3-1,2.05-1.03,.75-.02,1.48,.3,2.2,.97l1.82,1.7c.71,.67,1.09,1.37,1.13,2.11,.04,.74-.23,1.43-.83,2.07-.63,.67-1.27,1.03-1.93,1.09-.66,.05-1.32-.23-1.96-.86l-.02-.03,1.08-1.15c.39,.37,.73,.55,1.02,.56s.58-.15,.89-.48c.28-.3,.38-.62,.3-.97-.08-.35-.34-.73-.78-1.15l-1.83-1.71c-.45-.42-.85-.65-1.21-.69-.37-.04-.7,.1-1,.42-.28,.29-.4,.58-.36,.85s.25,.6,.65,.97l-1.07,1.15Z"/><path d="M52.71,60.16l-1.87-2.8,1.35-.9,4.65,6.97-2.09,1.39c-.69,.46-1.36,.65-2,.55s-1.17-.47-1.6-1.11c-.24-.36-.37-.73-.38-1.11,0-.38,.09-.75,.3-1.12-.45,.12-.84,.09-1.19-.08-.35-.17-.66-.47-.94-.89l-.34-.51c-.13-.19-.29-.38-.48-.57s-.37-.29-.55-.31l-.07-.1,1.4-.93c.18,.03,.36,.15,.55,.36,.18,.21,.35,.43,.51,.66l.33,.49c.24,.35,.49,.58,.77,.68,.28,.1,.55,.05,.83-.13l.81-.54Zm.7,1.05l-.73,.49c-.29,.19-.45,.43-.49,.7-.04,.28,.05,.57,.27,.89,.22,.33,.46,.53,.74,.63,.28,.09,.56,.04,.85-.15l.74-.49-1.38-2.07Z"/><path d="M42.29,64.73c-.33-.93-.33-1.75,0-2.46s.94-1.22,1.81-1.53c.87-.31,1.66-.3,2.37,.04s1.23,.97,1.56,1.9l.79,2.2c.33,.93,.33,1.74,0,2.46s-.93,1.22-1.8,1.54c-.87,.31-1.66,.3-2.38-.04-.71-.34-1.24-.97-1.57-1.9l-.79-2.2Zm2.32,1.67c.21,.58,.48,.97,.81,1.18,.34,.21,.73,.24,1.17,.08,.45-.16,.73-.42,.85-.79,.12-.37,.08-.85-.13-1.43l-.79-2.22c-.21-.59-.48-.99-.81-1.2s-.72-.24-1.16-.08c-.45,.16-.73,.43-.86,.8s-.08,.86,.13,1.44l.79,2.22Z"/><path d="M38.88,63.44l-3.11,.35-.14-1.26,4.72-.54,.95,8.33-1.61,.18-.8-7.08Z"/><path d="M33.06,63.63l-3.12-.28,.12-1.26,4.73,.43-.76,8.35-1.62-.15,.65-7.09Z"/><path d="M19.28,65.8l1.82,.76,2.76-6.56,1.5,.63-2.76,6.56,1.77,.75-.49,1.17-5.09-2.14,.49-1.17Z"/><path d="M15.04,57.98c.58-.8,1.25-1.26,2.03-1.38s1.54,.09,2.29,.63,1.19,1.2,1.31,1.97c.12,.77-.1,1.56-.68,2.36l-1.37,1.9c-.58,.8-1.25,1.26-2.03,1.39-.77,.13-1.54-.08-2.29-.62-.75-.54-1.19-1.2-1.31-1.98s.1-1.57,.67-2.37l1.37-1.9Zm-.07,2.86c-.36,.5-.53,.94-.51,1.34s.22,.73,.6,1.01c.38,.28,.76,.36,1.14,.25s.74-.42,1.1-.91l1.38-1.91c.37-.5,.54-.95,.53-1.35-.01-.39-.21-.73-.59-1s-.76-.36-1.14-.25c-.38,.11-.75,.42-1.12,.92l-1.38,1.91Z"/><path d="M5.63,52.88l1.14,1.61,5.8-4.11,.94,1.33-5.81,4.11,1.11,1.57-1.04,.74-3.19-4.5,1.04-.74Z"/><path d="M6.15,44.04c.91-.38,1.73-.41,2.46-.11,.72,.3,1.26,.88,1.61,1.74,.35,.86,.38,1.64,.08,2.37-.3,.72-.91,1.27-1.82,1.65l-2.16,.89c-.91,.38-1.73,.41-2.45,.12s-1.27-.87-1.62-1.73c-.35-.86-.38-1.65-.07-2.38,.3-.73,.91-1.28,1.82-1.66l2.16-.89Zm-1.56,2.4c-.56,.23-.94,.52-1.14,.87s-.2,.74-.02,1.17c.18,.44,.46,.71,.84,.81,.38,.1,.85,.04,1.42-.2l2.18-.9c.58-.24,.96-.53,1.16-.87,.2-.34,.2-.73,.02-1.17-.18-.44-.46-.71-.84-.82-.38-.11-.86-.04-1.43,.2l-2.18,.9Z"/><path d="M5.51,40.83l3-.44,.24,1.61L.45,43.21l-.41-2.78c-.12-.83,.03-1.53,.44-2.08,.42-.56,1.02-.9,1.81-1.01,.79-.12,1.47,.03,2.03,.45,.55,.42,.89,1.04,1.02,1.87l.17,1.17Zm-1.26,.18l-.17-1.17c-.05-.36-.22-.62-.51-.77-.29-.15-.63-.2-1.03-.14-.41,.06-.73,.2-.96,.43-.24,.23-.33,.52-.28,.88l.17,1.17,2.78-.41Z"/><path d="M8.4,31.2l-.21,1.59-1.45-.19,.21-1.59,1.45,.19Z"/><path d="M9.07,28.14l-.39,1.55-1.41-.35,.39-1.55,1.41,.35Z"/><path d="M10.27,20.03c-.29-.17-.56-.22-.82-.17-.25,.05-.57,.22-.95,.52-.69,.6-1.31,.99-1.86,1.18s-1.12,.11-1.72-.23c-.6-.34-.96-.83-1.09-1.48-.13-.64,0-1.3,.37-1.97,.4-.71,.93-1.16,1.57-1.37,.65-.2,1.3-.11,1.97,.29l.02,.03-.78,1.37c-.38-.21-.71-.29-1-.24-.29,.06-.53,.24-.7,.56-.15,.27-.19,.53-.09,.78s.27,.45,.54,.61c.25,.14,.5,.17,.76,.09,.26-.08,.6-.27,1.02-.58,.63-.57,1.23-.94,1.8-1.1,.56-.16,1.15-.07,1.75,.28,.62,.35,.99,.85,1.11,1.47,.12,.63-.03,1.29-.42,1.99-.39,.69-.92,1.17-1.59,1.44-.67,.27-1.39,.17-2.17-.29l-.02-.03,.78-1.38c.46,.26,.84,.35,1.14,.28,.31-.07,.56-.29,.77-.65,.17-.3,.22-.58,.14-.83s-.26-.45-.54-.61Z"/><path d="M15.33,13.2h.03c.67,.62,1.01,1.24,1.01,1.89,0,.65-.29,1.3-.89,1.95-.61,.66-1.3,1.01-2.05,1.03-.75,.03-1.48-.29-2.2-.96l-1.82-1.69c-.72-.66-1.1-1.37-1.14-2.11-.05-.74,.23-1.43,.82-2.07,.62-.67,1.27-1.04,1.93-1.09,.66-.06,1.32,.23,1.97,.85l.02,.03-1.07,1.16c-.39-.37-.73-.55-1.02-.56s-.58,.15-.88,.48c-.28,.3-.38,.62-.3,.97,.08,.35,.34,.73,.78,1.14l1.83,1.7c.45,.42,.85,.64,1.22,.68,.36,.04,.7-.1,1-.43,.27-.3,.39-.58,.36-.86s-.25-.6-.65-.97l1.07-1.15Z"/><path d="M17.39,10.74l1.87,2.8-1.35,.9-4.66-6.97,2.09-1.4c.69-.46,1.36-.65,2-.55s1.17,.46,1.61,1.11c.24,.36,.37,.73,.38,1.11,0,.38-.09,.75-.3,1.12,.45-.12,.84-.1,1.19,.08,.35,.17,.66,.47,.94,.89l.34,.51c.13,.2,.29,.38,.48,.57,.19,.18,.37,.29,.55,.31l.07,.1-1.4,.94c-.18-.03-.36-.15-.55-.36-.18-.21-.35-.43-.51-.66l-.33-.49c-.24-.35-.49-.58-.77-.68s-.55-.05-.83,.13l-.81,.54Zm-.71-1.05l.73-.49c.29-.19,.45-.43,.49-.71,.04-.28-.05-.57-.27-.89-.22-.33-.47-.53-.74-.62-.28-.09-.56-.04-.85,.15l-.74,.49,1.38,2.06Z"/><path d="M27.75,6.16c.34,.93,.33,1.75,0,2.46-.34,.71-.94,1.22-1.81,1.54s-1.66,.3-2.37-.03c-.71-.33-1.23-.96-1.56-1.89l-.79-2.2c-.33-.92-.34-1.74,0-2.46,.33-.71,.93-1.23,1.8-1.54,.87-.31,1.66-.3,2.38,.03,.71,.34,1.24,.97,1.57,1.89l.79,2.2Zm-2.32-1.67c-.21-.58-.48-.97-.82-1.17s-.73-.23-1.17-.07c-.45,.16-.73,.43-.85,.8-.12,.37-.07,.85,.13,1.42l.8,2.22c.21,.58,.48,.98,.81,1.19,.33,.21,.72,.24,1.16,.08,.45-.16,.73-.43,.85-.8,.12-.38,.08-.86-.13-1.44l-.8-2.22Z"/><path d="M31.19,7.44l3.11-.36,.15,1.26-4.72,.55-.97-8.33,1.62-.19,.82,7.07Z"/><path d="M37.01,7.24l3.12,.28-.11,1.26-4.74-.42,.74-8.36,1.62,.14-.63,7.09Z"/><path d="M50.78,5.03l-1.82-.76-2.75,6.56-1.5-.63,2.75-6.56-1.77-.74,.49-1.17,5.09,2.13-.49,1.17Z"/><path d="M55.03,12.82c-.58,.8-1.25,1.27-2.03,1.39-.77,.12-1.54-.08-2.29-.62s-1.19-1.2-1.32-1.97c-.13-.77,.1-1.56,.67-2.36l1.36-1.9c.57-.8,1.25-1.26,2.02-1.4,.77-.13,1.54,.07,2.29,.61s1.19,1.2,1.32,1.98c.13,.78-.09,1.57-.67,2.37l-1.36,1.9Zm.06-2.86c.36-.5,.52-.94,.5-1.34-.02-.4-.22-.73-.6-1.01-.38-.28-.76-.36-1.14-.25-.37,.11-.74,.42-1.1,.92l-1.38,1.91c-.36,.51-.54,.95-.52,1.35,.01,.39,.21,.73,.6,1s.77,.36,1.14,.25c.38-.11,.75-.42,1.11-.92l1.37-1.91Z"/><path d="M64.45,17.9l-1.14-1.6-5.79,4.13-.95-1.33,5.79-4.13-1.11-1.56,1.04-.74,3.21,4.49-1.04,.74Z"/><path d="M63.96,26.76c-.91,.38-1.73,.42-2.45,.11-.72-.3-1.26-.88-1.62-1.74-.35-.86-.38-1.64-.08-2.37s.9-1.27,1.82-1.65l2.16-.9c.91-.38,1.73-.42,2.45-.12,.73,.29,1.27,.87,1.62,1.72,.35,.86,.38,1.65,.08,2.38-.3,.73-.91,1.28-1.81,1.66l-2.16,.9Zm1.56-2.4c.56-.23,.94-.52,1.13-.87,.19-.35,.2-.74,.02-1.17-.18-.44-.46-.71-.84-.81-.38-.1-.85-.03-1.42,.2l-2.18,.9c-.58,.24-.96,.53-1.16,.87s-.2,.73-.02,1.17c.18,.44,.46,.71,.84,.81s.86,.04,1.43-.2l2.18-.9Z"/><path d="M64.62,30l-3,.44-.24-1.61,8.3-1.23,.41,2.78c.12,.83-.02,1.53-.44,2.09s-1.02,.9-1.81,1.01c-.79,.12-1.47-.03-2.03-.45s-.9-1.04-1.02-1.87l-.17-1.17Zm1.26-.19l.17,1.17c.05,.36,.22,.62,.51,.77,.29,.15,.63,.2,1.03,.14,.41-.06,.73-.2,.96-.43s.33-.52,.27-.88l-.17-1.17-2.78,.41Z"/><path d="M61.75,39.58l.2-1.59,1.45,.18-.2,1.59-1.45-.18Z"/>
          <path d="M61.09,42.67l.38-1.55,1.41,.35-.38,1.55-1.42-.35Z"/>
        </svg>
      </span>
    {%- endif -%}
    <svg
      class="arrow-top"
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="20px"
      height="27px"
      viewBox="0 0 20 27"
      xml:space="preserve"
    >
      <g id="Folder_112_00000119106049243841809600000003110066375171286920_">
        <path id="Layer_16_00000109743287270712351390000017229717716179707565_"  d="M19.6,11.1c0.6-0.6,0.6-1.6-0.1-2.2   l-8.5-8.5C10.8,0.2,10.4,0,10,0C9.6,0,9.2,0.2,8.9,0.5L0.5,8.9c-0.6,0.6-0.6,1.5,0,2.2c0.3,0.3,0.7,0.5,1.1,0.5   c0.4,0,0.8-0.2,1.1-0.5l5.8-5.9v20.1c0,0.9,0.7,1.5,1.5,1.5c0.9,0,1.5-0.7,1.5-1.5v-20l5.9,5.8c0.3,0.3,0.7,0.5,1.1,0.5   C18.9,11.5,19.3,11.4,19.6,11.1L19.6,11.1L19.6,11.1z"/>
      </g>
    </svg>
  {%- else -%}
    {{- settings.custom_scrollToTop_svg -}}
  {%- endif -%}
</button>
<script>
  //Get the button
  var mybutton = document.getElementById('myBtn');

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (document.body.scrollTop > 900 || document.documentElement.scrollTop > 900) {
      mybutton.style.display = 'flex';
    } else {
      mybutton.style.display = 'none';
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    jQuery('html, body').animate({ scrollTop: 0 });
  }
</script>
